@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--radius: 0.5rem;
		--orange: 255, 149, 0;
		--green: 16, 185, 129;
		--blue: 0, 160, 255;
	}
}

@layer base {
	* {
		@apply border-border;
		font-family: 'Inter Variable', sans-serif;
	}
	body {
		@apply bg-background/100 text-foreground;
	}

	#markdown-editor > h1 {
		@apply text-3xl font-bold text-foreground;
	}

	#markdown-editor > h2 {
		@apply mb-0.5 text-2xl font-bold text-foreground !important;
	}

	#markdown-editor > h3 {
		@apply mb-0.5 text-xl font-bold text-foreground !important;
	}

	#markdown-editor > h4 {
		@apply mb-0.5 text-lg font-bold text-foreground !important;
	}

	#markdown-editor > li {
		list-style-type: disc !important;
	}
}

/* style the scrollbar */
@layer utilities {
	::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}

	::-webkit-scrollbar-track {
		@apply bg-background/50;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-foreground/20 rounded-2xl;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-foreground/30;
	}
}

/* @media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
} */
